# schema reference: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

# yamllint disable-line rule:truthy
on:
  pull_request:
    types:
      - opened
      - reopened
  push:

jobs:
    runs-on: ubuntu-latest
    container: ghcr.io/actions/actions-runner:latest
    steps:
      - run: true  # no-op to pass CI and automerge
